<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Create broadcast</title>
  </head>
  <body>
    <div>
      <p>Hello {{fullname}},</p>
      <div>{{{body}}}</div>
      <div class='footer'>
        <p>Best Regards,</p>
        <p>Streple Teams</p>
      </div>
    </div>
  </body>
</html>